/*.login {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vh;
    margin: 50px auto;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    width: 80%; 
    margin: 20px auto;
    background-color: white;

} */